spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/portail_db
    username: root
    password: root
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MariaDBDialect

storage:
  image-directory: /home/user/oc/projects/P3/P3-portail-locataire-back/src/upload
  server:
    base-url: "http://localhost:3001"

application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000 # a day
server:
  port: 3001
  cors:
    allowed-origins: "http://localhost:3001"
    allowed-methods: "GET,POST,PUT,DELETE"
    allowed-headers: "Content-Type,Accept,Authorization"



